* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Heebo', sans-serif;
}

img { object-fit: cover; }

/* ***** Header Nav Bar ***** */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 5%;
    background: aliceblue;
    box-shadow: 10px 10px 10px grey;
}

li, a {
    text-decoration: none;
    color: black;
}

/* ***** Main Section About The Works ***** */
h1 {
    font-weight: 700;
    font-size: 2.9rem;
}

/* ***** Footer Form ***** */
label, input { display: block; } 

input, textarea {
    border: none;
    border-bottom: 5px solid #1AE0EC;
    background-color: white;
    width: 400px;
    height: 50px;
    padding: 5px 10px;
    text-align: right;
}

textarea { min-height: 100px; }

#message { 
    font-family: 'Assistant', sans-serif;
    padding: 11px 10px; 
}

#btnSubmit {
    padding: 10px 25px;
    border: none;
    background-color: #1AE0EC;
    color: #2F2E2E;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s ease;
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0px 2px 4px, 
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#submit:hover {
    color: #f3f3f3;
    background-color: lightseagreen;
    transform: scale(1.1);
    
}

/* ***** Header Nav Bar ***** */
.titles{
    display: flex;
    position: absolute;
    left: 180px;
    top: 10px;
}

.logo {
    cursor: pointer;
    max-width: 50px;
    border-radius: 50px;
}

.my-name {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-flex;
    gap: 5px;
    align-items: end;
}

.navbar {
    min-height: 50px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar a {
    color: black;
    font-size: 17px;
    padding: .7rem;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse
}

.navbar .menu {
    display: none;
}

.navbar ul li a {
    font-size: 20px;
    transition: all .2s;
}

.navbar ul li a:hover,
.navbar ul li a.active { color: #13b2ba; }

/* ***** Main Section About The Works ***** */
.section_control {
    background-image: url(./assets/bg.jpeg);
    background-size: cover;
    background-color: #B3F3F7;
    background-position: center;
    background-blend-mode: multiply;
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.text-description { padding: 0 30%; }

.description { 
    direction: rtl; 
    margin-top: 10px;
    opacity: .8;
}

/* ***** Main Section Technologies Image ***** */
.section_images{
    padding: 10px 10%;
    background: white;
    box-shadow: 1px 1px lightgrey;
}

.article_imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_imgs img {
    width: 100px;
    height: 100px;
}

/* ***** Main Section Top About Me ***** */
.section_aboutme {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin: 35px;
    gap: 15px;
}

.img_profile { max-height: 200px; }

.cls_article { flex-direction: column; }

.cls_article h2 { margin-bottom: 15px; }

.div_newLine {
    margin-bottom: 30px;
    max-width: 550px;
    opacity: .8;
    text-align: justify;
}

/* ***** Main Section CV ***** */
.article_cv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F2E2E;
    color: white;
    padding: 35px 15%;
}

.img-cv {
    transform: rotate(-20deg);
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.div-cv { direction: rtl; }

.text-cv { margin-bottom: 25px; }

.btn {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #1AE0EC;
    color: #2F2E2E;
    font-weight: bold;
    letter-spacing: .1rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.8s ease;
}

.btn:hover {
    color: #f3f3f3;
    background-color: lightseagreen;
    transform: scale(1.1);
}

/*  ***** Main Section Middle Cards ***** */
.section-div-cards {
    text-align: center;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.h2_works {
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 35px;
}

.article_cards {
    background-color: #f3f3f3;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    justify-content: center;
    gap: 20px;
}

.card {
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 10px 14px 12px 2px rgba(50,50,93,.25), 
                0 3px 7px -3px rgba(0,0,0,.3);
    transition: .5s ease;
}

.card:hover { transform: scale(1.02); }

.card:hover .card_image { opacity: 0.9; }

.card_image {
    display: block;
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.card_content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px 20px;
    background: white;
    border-radius: 10px;
}

.card_title {
    font-family: 'Assistant', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
}

.card_content > .card_title, .card_text { text-align: center; }

.card_text {
    padding: 0 10px;
    direction: rtl;
    opacity: .8;
}

.img_work > img { max-width: 85px; }

.card_content > .card_text:first-of-type { margin-top: 40px; }

.card_content > .card_text:last-of-type { margin-bottom: 35px; }

.card_btn_div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
    margin: 25px 0;
    gap: 10px;
}

.btn-cards {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 9px;
    border: 1px solid #2F2E2E;
    border-radius: 25px;
    background-color: #1AE0EC;
    color: #2F2E2E;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0px 2px 4px, 
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.btn-cards:hover {
    color: #f3f3f3;
    background-color: lightseagreen;
}

/* ***** Portfolio JavaScript section design ***** */
.portfolio {
    background: aliceblue;
    min-height: 55vh;
    padding: 2% ; 
    text-align: center;
}

.portfolio .heading {
    margin-bottom: .5rem;
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 35px;
}

.portfolio .descJS {
    margin: 0 23rem 6rem 23rem;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    row-gap: 4.5rem;
}

.portfolio_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio_txt p {
    margin-top: 1.5rem;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.portfolio_container .portfolio_box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
}

.portfolio_box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: .5s ease;
}

.portfolio_box:hover img {
    transform: scale(1.1);
}

.portfolio_box .portfolio_layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #5f6a80);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio_box:hover .portfolio_layer {
    transform: translateY(0);
}

.portfolio_layer h4 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.portfolio_layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio_layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.portfolio_layer a i {
    font-size: 2rem;
    color: #323946;
}

/* ***** Footer Form ***** */
.footer-form {
    background-color: #B3F3F7;
    background-image: url(./assets/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.div-form {
    padding: 5% 20%;
    direction: rtl;
}

.text-fill-p {
    padding-top: 15px;
    padding-bottom: 35px;
}

.form-control { padding: 0 0 0 10%; }

.form-control input:focus {
    outline: 0;
}

.form-control.success input {
    border-color: #09c372;
}

.form-control.error input {
    border-color: #ff3860;
}

.form-control .error {
    color: #ff3860;
    font-size: 16px;
    height: 20px;
    margin-bottom: 17px;
}

/* ***** Footer Contact Icons ***** */
.footer-div-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F2E2E;
    min-height: 150px;
}

.box { text-align: center; }

.box a .footer-icons-img { transition: 1s ease; }

.box a:hover .footer-icons-img { transform: scale(1.3); }

.footer-span {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    color: white;
}

/* ***** Footer Copyright ***** */
hr {
    border: 1px solid #f3f3f3;
}

.footer-div-span {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    color: #f3f3f3;
    background: #2F2E2E;
    font-size: 14px;
}


/* ======== Media's ======== */
/* X-Small device (portrait phones, less than 576px) */
@media screen and (min-width: 330px) and  (max-width: 576px) {
    .navbar { 
        display: block; 
        min-height: 50px;
    }
    
    .navbar a.menu { display: block;}

    .navbar a { display: none;}

    .navbar.responsive a { display: block;}

    .navbar ul {
        flex-direction: column;
        align-items: end;
        margin: 0 10px 0;
    }
    
    .titles{ left: 8px;}

    .section_control { padding: 100px 8px; }

    h1 {
        font-weight: bold;
        font-size: 2.9rem;
    }

    .text-description {
        padding: 0 10%;
    }

    .text_ofwork { padding: 0; }

    .img-cv { height: 70px; }

    .section_images { padding: 0; }

    .article_imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section_aboutme {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 25px;
        gap: 20px;
    }

    .article_cv {
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding: 25px 5%;
    }

    .portfolio .heading {
        text-align: center;
        margin: 3rem 2rem 0 2rem;
    }

    .portfolio .descJS {
        margin: 2rem 2rem 6rem 2rem;
    }

    .portfolio_container {
        grid-template-columns: 1fr;
    }

    .div-form { padding: 5% 5%; }

    input, textarea { width: 100%; }

    .footer-div-icons {
        display: grid;
        grid-template-columns: 150px 150px;
        justify-content: center;
    }

    .box { 
        margin: 20px;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-div-span {
        padding: 10px 5px;
        justify-content: space-around;
    }
}

/* Small device (landscap phone, 576px and up) 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar { 
        display: block; 
        min-height: 50px;
    }
    
    .navbar a.menu { display: block;}

    .navbar a { display: none;}

    .navbar.responsive a { display: block;}

    .navbar ul {
        flex-direction: column;
        align-items: end;
        margin: 0 10px 0;
    }

    .titles{ left: 50px;}

    .section_control { padding: 100px 0;}

    .text_ofwork { padding: 0 13%; }

    .section_images { padding: 0; }

    .article_imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section_aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        gap: 20px;
    }
    
    #about_me_font { margin-bottom: 30px; }

    .cls_article { text-align: center; }

    .article_cv {
        display: flex;
        flex-direction: column;
        padding: 25px 5%;
    }

    .div-cv { text-align: center; }

    .div-form { padding: 5% 5%; }

    input, textarea { width: 100%; }

    .footer-div-icons {
        display: grid;
        grid-template-columns: 250px 250px;
        justify-content: center;
    }

    .box { margin: 20px; }

    .section_images { padding: 0; }
    
    .article_imgs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .heading {
        text-align: center;
        margin: 3rem 2rem 0 2rem;
    }

    .portfolio .descJS {
        margin: 2rem 2rem 6rem 2rem;
    }

    .portfolio_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium device (tablets, 768px and up) 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .titles { left: 80px;}

    .text_ofwork { padding: 0 16%; }
    
    .article_imgs {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .section_images { padding: 0; }

    .portfolio .heading {
        text-align: center;
        margin: 3rem 2rem 0 2rem;
    }

    .portfolio .descJS {
        margin: 2rem 2rem 6rem 2rem;
    }

    .portfolio_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large device (desktops, 992px and up) 992px to 1300px */
@media screen and (min-width: 992px) and (max-width: 1300px) {
    .text_ofwork { padding: 0 25%; }
    
    .article_imgs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section_images { padding: 0; }

    .portfolio .heading {
        text-align: center;
        margin: 3rem 2rem 0 2rem;
    }

    .portfolio .descJS {
        margin: 2rem 12rem 6rem 12rem;
    }
}