* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.popup {
    width: 400px;
    background: #607D8B;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 43px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: cornsilk;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #0a5952;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 22px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin: 100px 80px;
}

.heading {
    font-size: 40px;
    padding-bottom: 30px;
    color: #000000;
}

.description {
    width: 610px;
    padding-bottom: 60px;
    font-size: 18px;
    color: #575757;
}

.form_control, .form_control_flexcolumn {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.form_control_flexrow {
    display: flex;
    flex-direction: row;
    column-gap: 58px;
}

.input_box {
    width: 160px;
}

::placeholder { 
    color: #A175FF;
    opacity: .5;
}

.form_input {
    position: relative;
}

label {
    color: #575757;
    padding: 5px 7px;
}

input {
    color: #9563FF;
    background: #EEEEEE;
    width: 400px;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    line-height: 20px;
    border-bottom: 2px solid #9563FF;
    font-size: 18px;
}

.input_mastercard {
    width: 330px;
    padding: 15px 10px 15px 80px;
    line-height: 20px;
    outline: 0;
}

.icon {
    width: 50px;
    height: 43px;
    position: absolute;
    left: 12px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    position: absolute;
    transform: translate(785%, 250%);
    color: #9563FF;
    text-decoration: none;
    font-weight: 700;
}

button {
    color: white;
    background: #9563FF;
    border: none;
    border-radius: 5px;
    width: 130px;
    padding: 15px;
    margin: 20px 0;
    opacity: .5;
}

/* ============= */
/** Div Two */

.blob {
    position: absolute;
    width: 160px;
    height: 152px;
    background: #9563FF;
    border-radius: 50%;
    transform: translate(40%, 0);
    filter: blur(45px);
}

.card-paying {
    background: #F0F0F0;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 45px 20px 0 45px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.p_paying {
    color: #575757;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    z-index: 1;
}

h2 {
    font-size: 55px;
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 40px;
    z-index: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.p_sizing {
    padding-left: 15px;
    color: #575757;
    font-weight: 500;
    padding-bottom: 20px;
}

.left_p {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}

.right_s {
    font-size: 24px;
    font-weight: 500;
}

hr {
    margin-bottom: 30px;
}

.discount {
    padding-bottom: 50px;
}

.tax_total {
    padding-bottom: 30px;
}

/* ============= */

.success {
    /* border-bottom: 3px solid green; */
    color: green;
}

.error {
    /* border-bottom: 3px solid red; */
    color: red;
}

@media screen and (width < 576px) {
    .container {
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 100px;
        margin: 35px 20px;
    }

    .card-paying {
        min-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        padding: 35px 25px 0 25px;
    }

    .credit-card {
        max-width: 100%;
        width: 390px;
        padding: 0 25px 0 25px;
    }

    .p_paying, .left_p, .right_s {
        font-size: 16px;
    }

    h2 {
        font-size: 45px;
    }

    .description {
        width: 100%;
        font-size: 16px;
    }

    .heading {
        font-size: 20px;
    }
    .form_control,
    input {
        max-width: 100%;
        margin-right: 20px;
        font-size: 16px;
    }

    .input_mastercard {
        max-width: 100%;
        width: 94%;
        margin-right: 25px;
        padding: 15px 0 15px 42px;
    }

    .icon {
        width: 25px;
        height: 30px;
        top: 12px;
    }

    .input_box {
        max-width: 100%;
        width: 88%;
    }

    a {
        transform: translate(450%, 250%);
    }

    .open-popup {
        width: 100%;
        max-width: 72%;
        top: 100%;
    }
}

@media screen and (width < 1000px) { /* max-width: 800px */

    .container {
        max-width: 100%;
        /* width: 100%; */
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 23px;
        margin: 35px 24px;
    }

    .description {
        max-width: 100%;
        width: 420px;
    }

    /* .description {
        width: 100%;
        font-size: 16px;
    } */
}