// Variables is used to define everything that is being used in the project
// You define them by using the $ sign and then the name of the variable

$white-color: #FFFFFF;
$eerieBlack-color: #1A1A1AD4;
$doctor-color: #F9F9F9;
$princeCharming-color: #D31C75;
$black-color: #00000029;

