* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    font-family: 'Assistant', sans-serif;
    font-family: 'Heebo', sans-serif;
}

img { object-fit: cover; }

/* ***** Header Nav Bar ***** */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 5%;
    background: aliceblue;
    box-shadow: 10px 10px 10px grey;
}

li, a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ***** Main Section About The Works ***** */
h1 {
    font-weight: 700;
    font-size: 2.9rem;
}

/* ***** Header Nav Bar ***** */
.titles{ 
    display: flex; 
    position: absolute;
    left: 180px;
    top: 10px;
}

.logo {
    cursor: pointer;
    max-width: 50px;
    border-radius: 50px;
}

.my-name {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-flex;
    gap: 5px;
    align-items: end;
}

.navbar {
    min-height: 50px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar a {
    color: black;
    font-size: 17px;
    padding: .7rem;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse
}

.navbar .menu {
    display: none;
}

.navbar ul li a {
    font-size: 20px;
    transition: all .2s;
}

.navbar ul li a:hover { color: #13b2ba; }

/* ***** Main Section About The Works ***** */
.section_control {
    background-image: url(../../assets/bg.jpeg);
    background-size: cover;
    background-color: #B3F3F7;
    background-position: center;
    background-blend-mode: multiply;
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 65px;
}

.text-description { padding: 0 15%; }

.description { 
    direction: rtl; 
    margin-top: 10px;
    font-weight: 500;
    opacity: .8;
}

.card_btn_div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: center;
    margin: 25px 0;
    gap: 10px;
}

.btn-cards {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 9px;
    border: 1px solid #2F2E2E;
    border-radius: 25px;
    background-color: #1AE0EC;
    color: #2F2E2E;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0px 2px 4px, 
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.btn-cards:hover {
    color: #f3f3f3;
    background-color: lightseagreen;
}

/* ***** Main Section Technologies Image ***** */
.section_images{
    padding: 10px 10%;
    background: white;
    box-shadow: 1px 1px lightgrey;
    box-shadow: 10px 10px 10px grey;
}

.article_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ***** Main Section About Details Of Image ***** */
.section_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 30px;
    background: #EBFEFF;
}

.picture {
    width: auto;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

/* ***** Footer Copyright ***** */
.footer-div-span {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    color: #f3f3f3;
    background: #2F2E2E;
    font-size: 14px;
}



/* ======== Media's ======== */
/* X-Small device (portrait phones, less than 576px) */
@media screen and (min-width: 330px) and  (max-width: 576px) {
    .navbar { 
        display: block; 
        min-height: 50px;
    }
    
    .navbar a.menu { display: block;}

    .navbar a { display: none;}

    .navbar.responsive a { display: block;}

    .navbar ul { 
        flex-direction: column;
        align-items: end;
        margin: 0 10px 0;
    }
    
    .titles{ left: 8px;}

    .section_control { padding: 100px 8px; }

    h1 {
        font-weight: bold;
        font-size: 2.9rem;
    }

    .text_ofwork { padding: 0; }
    
    .article_imgs { gap: 7px; }
}

/* Small device (landscap phone, 576px and up) 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar { 
        display: block; 
        min-height: 50px;
    }
    
    .navbar a.menu { display: block;}

    .navbar a { display: none;}

    .navbar.responsive a { display: block;}

    .navbar ul { 
        flex-direction: column;
        align-items: end;
        margin: 0 10px 0;
    }

    .titles{ left: 50px;}

    .section_control { padding: 100px 0;}

    .text_ofwork { padding: 0 13%; }
}

/* Medium device (tablets, 768px and up) 768px to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .titles { left: 80px;}

    .text_ofwork { padding: 0 16%; }
}